<div class="container">
  <form id="create" action="/post/new" method="post">
    <label for="title">Post Title</label>
    <input type="text" name="title" >
    <label for="url">URL</label>
    <input type="text" name="url">
    <input class="button" type="submit" value="Create Post">
  </form>
</div>
